<div class="box box-primary">
<div class="page-header">
  <%= link_to sales_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New Sale</h1>
</div>
<div class="box-body">
<%= render 'search' %>
</div>
<%= render 'form' %>
</div>
